<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@3.0.6/css/line.css"
/>

<footer class="h-auto w-auto bg-blue-900 pt-10 sm:mt-10 pt-10">
  <div
    class="
      max-w-6xl
      mx-2
      text-gray-800
      flex flex-wrap
      justify-left
      inset-x-0
      bottom-0
      lg:mx-20
    "
  >
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <div class="text-md uppercase text-gray-400 font-medium mb-6">
        Community
      </div>
      <a
        href="#"
        class="
          my-3
          block
          text-gray-300
          hover:text-gray-100
          text-sm
          font-medium
          duration-700
        "
      >
        Become our sales agent
      </a>
      <a
        href="#"
        class="
          my-3
          block
          text-gray-300
          hover:text-gray-100
          text-sm
          font-medium
          duration-700
        "
      >
        Blog
      </a>
      <a
        href="#"
        class="
          my-3
          block
          text-gray-300
          hover:text-gray-100
          text-sm
          font-medium
          duration-700
        "
      >
        Help
      </a>
    </div>
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <div class="text-md uppercase text-gray-400 font-medium mb-6">
        Contact us
      </div>
        <a
          href=""
          class="
            my-3
            block
            text-gray-300
            hover:text-gray-100
            text-sm
            font-medium
            duration-700
          "
        >
          Help center
        </a>
        <a
          href=""
          class="
            my-3
            block
            text-gray-300
            hover:text-gray-100
            text-sm
            font-medium
            duration-700
          "
        >
          How to shop
        </a>
        <a
          href=""
          class="
            my-3
            block
            text-gray-300
            hover:text-gray-100
            text-sm
            font-medium
            duration-700
          "
        >
          Careers
        </a>
    </div>
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <div class="text-md uppercase text-gray-400 font-medium mb-6">
        About Us
      </div>
      <a
        href=""
        class="
          my-3
          block
          text-gray-300
          hover:text-gray-100
          text-sm
          font-medium
          duration-700
        "
      >
        What's new
      </a>
    </div>
    <div class="lg:flex space-x-10 p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <div class="text-md uppercase text-gray-400 font-medium mb-6">
        <a href="#" class="w-10 h-10 mx-1">
          <i class="uil uil-facebook-f"></i>
        </a>
      </div>
      <div class="text-md uppercase text-gray-400 font-medium mb-6">
        <a href="#" class="w-10 h-10 mx-1">
          <i class="uil uil-twitter-alt"></i>
        </a>
      </div>
      <div class="text-md uppercase text-gray-400 font-medium mb-6">
        <a href="#" class="w-10 h-10 mx-1">
          <i class="uil uil-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="pt-2">
    <div
      class="
        flex
        justify-center
        pb-5
        m-auto
        pt-5
        border-t border-gray-500
        text-gray-400 text-sm
        flex-col
        px-2
        lg:px-20
        md:flex-row
      "
    >
      <div class="mt-2">(c) Copyright 2021-year. Built by Sheriff</div>
    </div>
  </div>
</footer>
